.idp {
  border-top: 1px solid #eee;
  margin-top: 40px;
}

.available_idps li {
  padding-bottom: 25px;
}

.email-input .form-control {
  display: inline-block;
}
.email-input select.form-control {
  width: auto;
}
