Django
django-environ
psycopg2
djangosaml2
django-oauth-toolkit
djangorestframework
django-admin-tools
zenpy

waitress
whitenoise
dj-database-url
django-axes
-e git+https://github.com/uktrade/dit-ip@v1.1.0#egg=django-ip-restriction
raven
