Django==2.0.8
django-environ
psycopg2-binary
djangosaml2==0.17.1
django-oauth-toolkit==1.1.0
djangorestframework
django-admin-tools
zenpy

waitress
whitenoise
dj-database-url
django-axes==4.4.0
django-admin-ip-restrictor
raven
