DEBUG=on
SECRET_KEY=do-not-use-in-prod
DATABASE_URL=postgres://localhost/staff-sso
SAML_REDIRECT_RETURN_HOST=http://localhost:8000
ENV_NAME=test
EMAIL_TOKEN_DOMAIN_WHITELIST=@digital.trade.gov.uk,@trade.gov.uk
