{% extends 'sso/base.html' %}

{% block inner_content %}
<div class="container">
  <h1 class="heading-large">Sign into DIT internal services</h1>
  <p>You need to sign in to access DIT internal services.</p>

  <section class="one-time-email">
    <h1 class="heading-medium">Sign in with your DIT email address</h1>

    <p>We'll send you a link by email.</p>

    <p><a class="button" href="{% url 'email-auth-initiate' %}{% if came_from %}?next={{ came_from|urlencode }}{% endif %}">Enter your email address</a></p>
  </section>

  <section class="idp">
    <h1 class="heading-medium">Sign in with your Mobile Office, UKEF, Cirrus or CTP account</h1>
    <p>You can sign in now with your existing account.</p>

    <p>Sign in with:</p>
    <ul class="list list-bullet available_idps">
      {% for url, name in available_idps %}
            {% spaceless %}
                <li>
                {% if name == 'a-core' %}
                    <a href="{% url 'saml2_login' %}?idp={{ url }}{% if came_from %}&next={{ came_from|urlencode }}{% endif %}">Evolve, Mobile Office</a><br>
                    username ends with @mobile.ukti.gov.uk or @extranet.ukti.gov.uk 
                {% elif name == 'b-ukef' %}
                    <a href="{% url 'saml2_login' %}?idp={{ url }}{% if came_from %}&next={{ came_from|urlencode }}{% endif %}">UKEF</a><br>
                    username ends with @ukexportfinance.gov.uk 
                {% elif name == 'cirrus' %}
                    <a href="{% url 'saml2_login' %}?idp={{ url }}{% if came_from %}&next={{ came_from|urlencode }}{% endif %}">Cirrus, CTP</a><br>
                    username ends with @trade.gov.uk
                {% else %}
                    <a href="{% url 'saml2_login' %}?idp={{ url }}{% if came_from %}&next={{ came_from|urlencode }}{% endif %}">{{ name }}</a>
                {% endif %}
                </li>
            {% endspaceless %}
      {% endfor %}
    </ul>
  </section>

</div>
{% endblock %}
