{% extends 'sso/base.html' %}

{% block inner_content %}
<div class="container">
    <h1>Which type of account do you have?</h1>
    <p class="secondary-text">This should be the one you use to sign in to DIT Connect, CDMS or DIT investment portal</p>
    <p>Choose one of the following.</p>
    <ul>
      {% for url, name in available_idps %}
      <li><a href="{% url 'saml2_login' %}?idp={{ url }}{% if came_from %}&next={{ came_from|urlencode }}{% endif %}">{{ name }}</a></li>
      {% endfor %}
    </ul>
</div>
{% endblock %}
