{% extends 'govuk_template.html' %}

{% block content %}
  <main role="main" id="content" tabindex="-1">
    {% block inner_content %}{% endblock %}
  </main>
{% endblock %}

{% block body_end %}
  {{ block.super }}
  {% if GOOGLE_ANALYTICS_CODE %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_CODE }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

     gtag('config', '{{ GOOGLE_ANALYTICS_CODE }}');
    </script>
  {% endif %}
{% endblock %}
