{% extends 'sso/base.html' %}

{% block inner_content %}
<div class="container">
    <h1 class="heading-large">Sign in to DIT internal services</h1>

    <form method="post">
        {% csrf_token %}

        <p class="email-input">

            <label class="form-label" for="username">Enter your work email address</label>

            {{ form.email }}

            {% if form.email.errors %}
                <ul class="errorlist">
                  {% for error in form.email.errors %}
                    {% if error == '__unsupported_email__' %}
                        <li>
                            <span class="error-message">You can't use this email address to access DIT's internal services.
                            <a href="{% url 'saml2_login' %}{% if next %}?next={{ next }}{% endif %}">Sign in using a different method</a></span>
                        </li>
                    {% else %}
                        <li><span class="error-message">{{ error }}</span></li>
                    {% endif %}
                  {% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>We will use your email address to identify your organisation. Each organisation has a different sign in service. We will direct you to the right service.</p>

        <p><input type="submit" class="button" value="Next step"></p>
    </form>

</div>
{% endblock %}
