{% extends 'sso/base.html' %}

{% block inner_content %}
<div class="container">
    <h1 class="heading-large">Privacy Policy</h1>

    <p>Information provided whilst using this service, including personal information, may be published or disclosed in accordance with access to information regimes, primarily the Freedom of Information Act 2000 (FOIA) and UK Data Protection legislation. </p>

    <p>The Department for International Trade will process personal data supplied in this service in accordance with the Data Protection Act (DPA). The information you provide will be processed on a lawful basis in Single Sign-On (SSO) to enable DIT to perform a task in the public interest or to fulfil an official function, and the task or function has a clear basis in law and/or the processing is necessary for a contract DIT have with an individual and/or the individual has given consent for the processing of their personal data for a specific task.</p>

    <p>This information will be shared within the department and with selected third parties for purposes connected with DIT performing a task in the public interest or to fulfil an official function and the task or function has a clear basis in law, including:
        to manage access for all DIT users including staff, International Trade Advisors, Local Enterprise Partners, Devolved Administrations, contracted individuals and agencies and Investment Support Service Team to DIT Digital services such as Data Hub and Digital Workspace</p>

    <p>Third parties with whom data will be shared are the following identity providers:
        <ul>
            <li>Core</li>
            <li>Google</li>
            <li>Okta</li>
            <li>Microsoft</li>
        </ul>
    </p>

    <p>Aggregated analysis of responses may also be shared with the Information Commissioner’s Office (ICO) the Government Internal Audit Agency (GIAA) and the National Audit Office (NAO).</p>

    <p>Consent will be sought in accordance with the DPA should there be a requirement to share information with any other third parties outside of those listed above. If you want the information you provide to be treated confidentially, please be aware that, in accordance with the FOIA, public authorities are required to comply with a statutory code of practice which deals, amongst other things, with obligations of confidence. In view of this, it would be helpful if you could explain to us why you wish that information to be treated confidentially. If we receive a request for disclosure of that information, we will take full account of your explanation, but we cannot give an assurance that confidentiality can be maintained in all circumstances.</p>
</div>
{% endblock %}
