{% extends 'sso/base.html' %}

{% block inner_content %}

<div class="container">
    <h1 class="heading-large">User permissions</h1>

    <h2>User: {{ user.get_full_name }}</h2>

    <table>
        <thead>
            <tr>
                <td>Application</td>
                <td>Permitted?</td>
            </tr>
        </thead>
        <tbody>
            <tr colspan="2">
                <td>OAuth Applications</td>
            </tr>
        {% for app in oauth_apps %}
            <tr>
                <td>{{ app.name }}</td>
                <td>{{ app.access|yesno }}</td>
            </tr>
        {% endfor %}
            <tr colspan="2">
                <td>Saml Applications</td>
            </tr>
        {% for app in saml_apps %}
            <tr>
                <td>{{ app.name }}</td>
                <td>{{ app.access|yesno }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p style="text-align: right; margin-top: 50px;">
        <a href="javascript: window.close();" class="button">Close Window</a>
    </p>
</div>

{% endblock %}
